# Machine-Learning-and-Statistics-Project 2020

## Introduction

Create a web service that uses machine learning to make predictions based on the data set powerproduction.
Produce a model that accurately predicts wind turbine power output from wind speed values.
Develop a web service that will respond with predicted power values based on speed values sent and HTTP requests

In [1]:
# Import libraries
import pandas as pd
import scipy.stats as ss
import matplotlib.pyplot as plt
import seaborn as sns
import csv

In [2]:
# Make matplotlib show interactive plots in the notebook.
%matplotlib inline
# Apply the default seaborn settings
sns.set()

In [3]:
# Import the power production dataset and call it pp
df = pd.read_csv("dataset.csv")
print(df.head())

   speed    power
0   0.000     0.0
1   0.125     0.0
2   0.150     0.0
3   0.225     0.0
4   0.275     0.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   speed   500 non-null    float64
 1    power  500 non-null    float64
dtypes: float64(2)
memory usage: 7.9 KB

In [5]:
# Describe the dataset using pandas describe()
df.describe()

           speed        power
count  500.000000  500.000000
mean    12.590398   48.014584
std      7.224991   41.614572
min      0.000000    0.000000
25%      6.324750    5.288000
50%     12.550500   41.645500
75%     18.775250   93.537000
max     25.000000  113.556000